<div>
  <strong>Title:</strong>
  <span><%= @book.title %></span>
</div>
<div>
  <strong>Body:</strong>
  <span><%= @book.body %></span>
</div>

<%= link_to "Edit" , book_path %> | <%= link_to "Back" , books_path %>
